.paleta {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .bloque {
        margin: 5px;
        width: 170px;
        display: flex;
        justify-content: center;

        .item {
            margin: 1px;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            border: 1px solid #999;
            cursor: pointer;

            &.size_1, &.size_2, &.size_3, &.size_4 {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 5px;
                    height: 5px;
                    background-color: #000;
                    border-radius: 50px;
                    border: none;
                }
            }

            &.size_2 {
                &:before{
                    width: 10px;
                    height: 10px;
                }
            }

            &.size_3 {
                &:before{
                    width: 15px;
                    height: 15px;
                }
            }

            &.size_4 {
                &:before{
                    width: 20px;
                    height: 20px;
                }
            }

            &.active {
                border-color: #000;
            }
        }
    }
}